body {
    font-family: 'Roboto', sans-serif;
}

.header,
.footer{
    height: 50px;
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: row;
}

.header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header div {
    flex: 1 1 auto;
}

.section-hero {
    flex: 1 1 auto;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
}

.hero-subcontainer-left {
    flex: 1 1 auto;
}

#hero-title {
    font-size: 48px;
    font: 'extra-bold';
    color: #F9FaF8;
}

#hero-description {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-subcontainer-right {
    flex: 1 1 auto;
    display: flex;
}

.hero-subcontainer-right img {
    height: 100px;
    width: 100px;
}

.container-main {
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.container-main div {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    border: 10px;
}

.section-quote {
    background-color: #E5E7EB;
}

.section-info,
.section-call {
    background-color: white;
}

.call-to-action,
button {
    background-color: #3882F6;
}