.header,
.footer{
    height: 50px;
    background-color: #1F2937;
}

.flex-container {
    display: flex;
}

.container-main {
    flex-direction: column;
    height: 1000px;
}

.flex-container div {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    border: 10px;
}

.section-hero {
    background-color: #1F2937;
}

.section-quote {
    background-color: #E5E7EB;
}

.section-info,
.section-call {
    background-color: white;
}

.call-to-action,
button {
    background-color: #3882F6;
}